<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Perfume Management</title>
    <link rel="stylesheet" href="/public/assets/style/admin.css">
</head>
<body>
<div class="container">
    <h1>Quản lý Nước Hoa</h1>

    <div class="form-container">
        <h2>Thêm / Sửa Nước Hoa</h2>
        <form id="perfumeForm">
            <input type="hidden" id="perfumeId">
            <label for="name">Tên Nước Hoa:</label>
            <input type="text" id="name" required>
            <label for="brand">Thương Hiệu:</label>
            <select id="brand">
            </select>
            <label for="description">Mô tả:</label>
            <input type="text" id="description" required>
            <label for="price">Giá:</label>
            <input type="number" id="price" required  min="1" placeholder="0">
            <label for="quantity">Số Lượng:</label>
            <input type="number" id="quantity" required  min="1" placeholder="0">
            <button type="submit">Lưu</button>
        </form>
    </div>

    <div class="list-container">
        <h2>Danh Sách Nước Hoa</h2>
        <table id="perfumeTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Thương Hiệu</th>
                <th>Mô tả</th>
                <th>Giá</th>
                <th>Số Lượng</th>
                <th>Hành Động</th>
            </tr>
            </thead>
            <tbody>
            <!-- List items will be dynamically added here -->
            </tbody>
        </table>
    </div>
    <button type="submit" id="submitItems" style="float:right;margin-bottom:20px;">Chốt đơn</button>

</div>
<script src="/public/assets/js/admin.js"></script>
</body>
</html>