<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/fonts/themify-icons/themify-icons.css">
    <link rel="icon" href="/public/assets/img/perfume.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/assets/style/home.css">
    <title>HOME</title>
</head>
<body>
<!-- HEADER -->
<div class="header" id="home">
    <!-- Thanh tìm kiếm -->
    <div class="header-search">
        <input class="search-input" type="text" placeholder="Tìm kiếm sản phẩm...">
        <i class="search-icon ti-search"></i>
    </div>

    <!-- Slogan -->
    <div class="header-slogan">
        <h1 class="first-slogan">
            Cái Shop nước hoa
        </h1>
        <h1 class="second-slogan">
            Bạn thích tôi mới bán
        </h1>
    </div>

    <!-- Welcome -->
    <div class="header-welcome">
        <div class="Hello">
            <h3>Xin chào, Khách</h3>
        </div>
        <div class="login">
            <a class="login-link" href="./index.html">Đăng nhập</a>
            <p>hoặc</p>
            <a class="login-link" href="./signup.html">Đăng ký</a>
        </div>
    </div>

    <!-- Cart -->
    <div class="header-cart">
        <i class="icon ti-shopping-cart"></i>
    </div>
</div>

<!-- STICKY BAR -->
<div class="stickybar">
    <li class="list home">
        <a class="link" href="./home.html">
            <p>TRANG CHỦ</p>
        </a>
    </li>

    <li class="list firm">
        <a class="link" href="">
            <p> THƯƠNG HIỆU <i class="ti-angle-down"></i> </p>
        </a>

        <ul class="nav">
            <li class="first"><a href="#"> AFNAN </a></li>
            <li><a href="#"> CAROLINA HERRERA </a></li>
            <li><a href="#"> DIOR </a></li>
            <li><a href="#"> JO MALONE </a></li>
            <li><a href="#"> MAISON MARGIELA </a></li>
            <li><a href="#"> ROJA DOVE </a></li>
            <li><a href="#"> TOM FORD </a></li>
            <li><a href="#"> ALREHAB </a></li>
            <li><a href="#"> LATTAFA </a></li>
            <li><a href="#"> DIESEL </a></li>
            <li><a href="#"> ATERLIER DES ORS </a></li>
            <li><a href="#"> LALIQUE </a></li>
            <li><a href="#"> TOMMY HILFIGER </a></li>
            <li><a href="#"> THE MERCHANT OF VENICE </a></li>
            <li><a href="#"> ORTO PARISI </a></li>
            <li><a href="#"> CHASING SCENTS </a></li>
            <li><a href="#"> MAISON MATINE </a></li>
            <li><a href="#"> GUERLAIN </a></li>
            <li><a href="#"> AMOUAGE </a></li>
            <li><a href="#"> CHANEL </a></li>
            <li><a href="#"> DIPTYQUE </a></li>
            <li><a href="#"> JEAN PAUL GAUTIER </a></li>
            <li><a href="#"> MARC JACOBS </a></li>
            <li><a href="#"> SAVATORE FERRAGAMO </a></li>
            <li><a href="#"> MONT BLANC </a></li>
            <li><a href="#"> ALFRED DUNHILL </a></li>
            <li><a href="#"> FLORIS </a></li>
            <li><a href="#"> ETAT LIBRE D'ORANGE </a></li>
            <li><a href="#"> CHLOÉ </a></li>
            <li><a href="#"> NAUTICA </a></li>
            <li><a href="#"> RALPH LAUREN </a></li>
            <li><a href="#"> BOND NO.9 </a></li>
            <li><a href="#"> MAD ET LEN </a></li>
            <li><a href="#"> MAURER & WIRTZ </a></li>
            <li><a href="#"> MARIE JEANNE </a></li>
            <li><a href="#"> GIARDINI DI TOSCANA </a></li>
            <li><a href="#"> ARMAF </a></li>
            <li><a href="#"> CALVIN KLEIN </a></li>
            <li><a href="#"> FREDERIC MALLE </a></li>
            <li><a href="#"> KILIAN </a></li>
            <li><a href="#"> MAISON FRANCIS KURKDJIAN </a></li>
            <li><a href="#"> VERSACE </a></li>
            <li><a href="#"> MOSCHINO </a></li>
            <li><a href="#"> XERJOFF </a></li>
            <li><a href="#"> PARFUMS DE MARLY </a></li>
            <li><a href="#"> NISHANE </a></li>
            <li><a href="#"> LOUIS VUITTON </a></li>
            <li><a href="#"> THOMAS KOSMALA </a></li>
            <li><a href="#"> JIMMY CHOO </a></li>
            <li><a href="#"> NACHO VIDAL </a></li>
            <li><a href="#"> ATTAR COLLECTION </a></li>
            <li><a href="#"> FLAVIA </a></li>
            <li><a href="#"> GHALA ZAYED </a></li>
            <li><a href="#"> INTINIO PARFUMS PRIVES </a></li>
            <li><a href="#"> BURBERRY </a></li>
            <li><a href="#"> CREED </a></li>
            <li><a href="#"> GIORGIO ARMANI </a></li>
            <li><a href="#"> LANCOME </a></li>
            <li><a href="#"> MONTALE </a></li>
            <li><a href="#"> YSL </a></li>
            <li><a href="#"> CLIVE CHRISTIAN </a></li>
            <li><a href="#"> DAVIDOFF </a></li>
            <li><a href="#"> MANCERA </a></li>
            <li><a href="#"> FRANCK BOCLET </a></li>
            <li><a href="#"> VICTORYA'S SECRET </a></li>
            <li><a href="#"> PENHALIGON'S </a></li>
            <li><a href="#"> JULIETTE HAS A GUN </a></li>
            <li><a href="#"> MISSONI </a></li>
            <li><a href="#"> THODOROS KALOTINIS </a></li>
            <li><a href="#"> ALEXANDRIA FRAGRANCES </a></li>
            <li><a href="#"> DSQUARED2 </a></li>
            <li><a href="#"> BYREDO </a></li>
            <li><a href="#"> BVLGARI </a></li>
            <li><a href="#"> DOLCE & GABBANA </a></li>
            <li><a href="#"> GUCCI </a></li>
            <li><a href="#"> LE LABO </a></li>
            <li><a href="#"> NARCISO RODRIGUEZ </a></li>
            <li><a href="#"> HERMES </a></li>
            <li><a href="#"> PACO RANBANNE </a></li>
            <li><a href="#"> SERGE LUTENS </a></li>
            <li><a href="#"> AL HARAMAIN </a></li>
            <li><a href="#"> KENZO </a></li>
            <li><a href="#"> NASOMATTO </a></li>
            <li><a href="#"> VICTOR & ROLF </a></li>
            <li><a href="#"> MCM </a></li>
            <li><a href="#"> BUTTERFLY THAI PERFUME </a></li>
            <li><a href="#"> VALENTINO </a></li>
            <li><a href="#"> MASQUE MILANO </a></li>
            <li class="last"><a href="#"> THIERRY MUGLER </a></li>
        </ul>
    </li>

    <li class="list intro">
        <a class="link" href="">
            <p>GIỚI THIỆU</p>
        </a>
    </li>

    <li class="list perfume">
        <a class="link" href="">
            <p>NƯỚC HOA <i class="ti-angle-down"></i></p>
        </a>

        <ul class="nav-perfume">
            <li><a href="#"> NƯỚC HOA NỮ </a></li>
            <li><a href="#"> NƯỚC HOA NAM </a></li>
            <li class="last-perfume"><a href="#"> NƯỚC HOA UNISEX </a></li>
        </ul>
    </li>

    <li class="list know">
        <a class="link" href="">
            <p>KIẾN THỨC</p>
        </a>
    </li>

    <li class="list blog">
        <a class="link" href="">
            <p>BLOG</p>
        </a>
    </li>

    <li class="list contact">
        <a class="link" href="">
            <p>LIÊN HỆ</p>
        </a>
    </li>

</div>

<!-- SLIDE -->
<div class="carousel">
    <div class="slides">
        <div class="slide"><img src="/public/assets/img/slide1.jpeg" alt="Slide 1"></div>
        <div class="slide"><img src="/public/assets/img/slide2.jpg" alt="Slide 2"></div>
        <div class="slide"><img src="/public/assets/img/slide3.jpg" alt="Slide 3"></div>
        <div class="slide"><img src="/public/assets/img/slide4.png" alt="Slide 3"></div>
    </div>
    <div class="nav">
        <button id="prev">&#10094;</button>
        <button id="next">&#10095;</button>
    </div>
    <div class="dots">
        <span class="dot" data-index="0"></span>
        <span class="dot" data-index="1"></span>
        <span class="dot" data-index="2"></span>
        <span class="dot" data-index="3"></span>
    </div>
</div>

<script>
    const slides = document.querySelector('.slides');
    const slide = document.querySelectorAll('.slide');
    const prev = document.getElementById('prev');
    const next = document.getElementById('next');
    const dots = document.querySelectorAll('.dot');

    let index = 0;

    function showSlide(i) {
        if (i >= slide.length) {
            index = 0;
        } else if (i < 0) {
            index = slide.length - 1;
        } else {
            index = i;
        }
        slides.style.transform = 'translateX(' + (-index * 100) + '%)';
        dots.forEach(dot => dot.classList.remove('active'));
        dots[index].classList.add('active');
    }

    next.addEventListener('click', () => {
        showSlide(index + 1);
    });

    prev.addEventListener('click', () => {
        showSlide(index - 1);
    });

    dots.forEach(dot => {
        dot.addEventListener('click', (e) => {
            const dotIndex = e.target.getAttribute('data-index');
            showSlide(parseInt(dotIndex));
        });
    });

    showSlide(index);
</script>

<!-- PRODUCTS -->
<div class="products-man">
    <div class="intro">
        <div>
            <h4 class="intro-header">NƯỚC HOA NAM</h4>
        </div>
        <div>
            <img class="intro-img" src="/public/assets/img/man-perfume.png" alt="Man">
        </div>
    </div>

    <div class="perfume">
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/DiorSauvage.webp" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Dior Sauvage EDP</h5>
            </div>
            <div>
                <p class="perfume-cost">375.000đ - 3.600.000đ</p>
                <a href="../../product/1">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/versace pour homme.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Versace pour homme EDT</h5>
            </div>
            <div>
                <p class="perfume-cost">265.000đ - 2.180.000đ</p>
                <a href="../../product/2">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/mancera paris cedrat boise EDP.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Mancera paris cedrat boise EDP</h5>
            </div>
            <div>
                <p class="perfume-cost">315.000đ - 2.650.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/creed silver mountain water.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Creed silver mountain water</h5>
            </div>
            <div>
                <p class="perfume-cost">695.000đ - 6.600.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/creed aventus for men.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Creed aventus for men</h5>
            </div>
            <div>
                <p class="perfume-cost">795.000đ - 7.800.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/giorgio armani acqua di gio pour homme edt.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Giorgio armani acqua di
                    <br> gio pour homme edt</h5>
            </div>
            <div>
                <p class="perfume-cost">295.000đ - 2.250.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/xerjoff casamorati mefisto EDP.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Xerjoff casamorati mefisto EDP</h5>
            </div>
            <div>
                <p class="perfume-cost">655.000đ - 5.700.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/roja dove oceania parfume.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Roja dove oceania parfume</h5>
            </div>
            <div>
                <p class="perfume-cost">1.150.000đ - 9.900.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/yves saint laurent la nuit de l'homme edt.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Yves saint laurent la nuit de
                    <br> l'homme EDT</h5>
            </div>
            <div>
                <p class="perfume-cost">325.000đ - 2.650.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/maison margiela replica jazz club edt.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Maison margiela replica jazz
                    <br> club edt</h5>
            </div>
            <div>
                <p class="perfume-cost">385.000đ - 3.100.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
    </div>

    <a href="">
        <button class="see-all-button">
            <i class="ti-hand-point-right"></i>
            Xem tất cả
        </button>
    </a>
</div>

<div class="products-man">
    <div class="intro">
        <div>
            <h4 class="intro-header">NƯỚC HOA NỮ</h4>
        </div>
        <div>
            <img class="intro-img" src="/public/assets/img/woman-perfume.png" alt="Man">
        </div>
    </div>

    <div class="perfume">
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/maison francis kurkdjian baccarat rouge 540.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Maison francis kurkdjian baccarat
                    <br> rouge 540</h5>
            </div>
            <div>
                <p class="perfume-cost">995.000đ - 10.500.000đ</p>
                <a href="../../product/3">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/parfums de marly delina EDP.webp" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Parfums de marly delina EDP</h5>
            </div>
            <div>
                <p class="perfume-cost">785.000đ - 5.800.000đ</p>
                <a href="../../product/4">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/chanel coco mademoiselle EDP.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Chanel coco mademoiselle EDP</h5>
            </div>
            <div>
                <p class="perfume-cost">445.000đ - 4.350.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/jean paul gaultier scandal EDP.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Jean paul gaultier scandal EDP</h5>
            </div>
            <div>
                <p class="perfume-cost">395.000đ - 2.850.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/yves saint laurent libre EDP.webp" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Yves saint laurent libre EDP</h5>
            </div>
            <div>
                <p class="perfume-cost">395.000đ - 3.390.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/le labo another 31 EDP.webp" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Le labo another 13 EDP</h5>
            </div>
            <div>
                <p class="perfume-cost">745.000đ - 6.950.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/yves saint laurent black opium EDP.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Yves saint laurent black
                    <br>opium EDP</h5>
            </div>
            <div>
                <p class="perfume-cost">395.000đ - 3.100.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/narciso rodriguez pure musc for her EDP.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Narciso rodriguez pure musc
                    <br> for her EDP</h5>
            </div>
            <div>
                <p class="perfume-cost">355.000đ - 2.980.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/kilian good girl gone bad.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Kilian good girl gone bad</h5>
            </div>
            <div>
                <p class="perfume-cost">995.000đ - 5.900.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/roja dove elixir pour femme.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Roja dove elixir pour femme</h5>
            </div>
            <div>
                <p class="perfume-cost">745.000đ - 6.300.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
    </div>

    <a href="">
        <button class="see-all-button">
            <i class="ti-hand-point-right"></i>
            Xem tất cả
        </button>
    </a>
</div>

<div class="products-man">
    <div class="intro">
        <div>
            <h4 class="intro-header">NƯỚC HOA UNISEX</h4>
        </div>
        <div>
            <img class="intro-img" src="/public/assets/img/unisex-perfume.png" alt="Man">
        </div>
    </div>

    <div class="perfume">
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/initio musk therapy perfume.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Initio musk therapy perfume</h5>
            </div>
            <div>
                <p class="perfume-cost">895.000đ - 6.800.000đ</p>
                <a href="../../product/5">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/kilian angels share.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Kilian angels share</h5>
            </div>
            <div>
                <p class="perfume-cost">945.000đ - 4.750.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/roja dove amber aoud.webp" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Roja dove amber aoud</h5>
            </div>
            <div>
                <p class="perfume-cost">1.890.000đ - 15.500.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/maison francis kurkdjian grand soir.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Maison francis kurkdjian grand
                    <br> soirme</h5>
            </div>
            <div>
                <p class="perfume-cost">585.000đ - 5.400.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/tom ford black orchid.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Tom ford black orchid</h5>
            </div>
            <div>
                <p class="perfume-cost">495.000đ - 4.300.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/tom ford ombre leather.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Tom ford ombre leather</h5>
            </div>
            <div>
                <p class="perfume-cost">535.000đ - 4.300.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/louis vuitton california dream.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Louis vuitton california dream</h5>
            </div>
            <div>
                <p class="perfume-cost">975.000đ - 8.950.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/diptyque tam dao.webp" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Diptyque tam dao</h5>
            </div>
            <div>
                <p class="perfume-cost">665.000đ - 4.350.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/maison francis kurkdjian paris baccarat rouge 540.jpg" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Maison francis kurkdjian paris
                    <br> baccarat rouge 540</h5>
            </div>
            <div>
                <p class="perfume-cost">745.000đ - 6.900.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
        <div class="boder-perfume">
            <div>
                <img class="perfume-img" src="/public/assets/img/perfume-image/atelier des ors rose omeyyade.webp" alt="">
            </div>
            <div>
                <h5 class="perfume-name">Atelier des ors rose omeyyade</h5>
            </div>
            <div>
                <p class="perfume-cost">675.000đ - 6.450.000đ</p>
                <a href="">
                    <button class="perfume-buy">ĐẶT HÀNG</button>
                </a>
            </div>
        </div>
    </div>

    <a href="">
        <button class="see-all-button">
            <i class="ti-hand-point-right"></i>
            Xem tất cả
        </button>
    </a>
</div>

<!-- VOTE-SLIDE -->
<div class="vote-star">
    <h2 class="title">ĐÁNH GIÁ</h2>
    <div class="star">
        <i class="ti-star"></i>
        <i class="ti-star"></i>
        <i class="ti-star"></i>
        <i class="ti-star"></i>
        <i class="ti-star"></i>
    </div>
</div>

<div class="vote-slide">
    <div class="vote">
        <div class="vote-person">
            <img src="/public/assets/img/Timcook.jpg" alt="">
        </div>
        <div>
            <p  class="vote-comment">Tôi thực sự hài lòng về trải nghiệm sản phẩm mà shop mang lại. Chất lượng sản phẩm hoàn hảo,
                <br>dịch vụ chăm sóc khách hàng tận tâm. Giá cả sản phẩm hợp lý. Tôi sẽ ủng hộ công ty thường
                <br>xuyên vào thời gian tới.</p>
        </div>
        <div class="vote-infor">
            <div>
                <h4 class="name">Tim Cook</h4>
            </div>
            <div>
                <p class="job">CEO Apple</p>
            </div>
        </div>
    </div>
</div>

<!-- BODER -->
<div class="boder"></div>

<!-- Footer -->
<div class="footer">
    <div class="footer-title-background">
        <h1>CÁI SHOP NƯỚC HOA</h1>
        <h1 class="last">BẠN THÍCH TÔI MỚI BÁN</h1>
    </div>

    <div>
        <a href="#home">
            <div class="footer-roll">
                <p>BACK TO TOP</p>
                <i class="ti-angle-up"></i>
            </div>
        </a>
    </div>

    <div class="footer-all">
        <div class="footer-pay">
            <div class="title">
                <h2>PHƯƠNG THỨC THANH TOÁN</h2>
            </div>
            <div class="img">
                <img src="/public/assets/img/trade1.jpg" alt="trade1">
                <img src="/public/assets/img/trade2.jpg" alt="">
                <img src="/public/assets/img/trade3.jpg" alt="">
                <img src="/public/assets/img/trade4.jpg" alt="">
            </div>
        </div>

        <div class="footer-connect">
            <div class="title">
                <h2>KẾT NỐI VỚI CHÚNG TÔI</h2>
            </div>
            <div class="icon">
                <a href=""><i class="ti-facebook"></i></a>
                <a href=""><i class="ti-instagram"></i></a>
                <a href=""><i class="ti-youtube"></i></a>
                <a href=""><i class="ti-google"></i></a>
            </div>
        </div>

        <div class="footer-contact">
            <div class="title">
                <h2>LIÊN HỆ</h2>
                <h4 class="contact-number">0399626478</h4>
            </div>
            <button class="contact-button"> LIÊN HỆ </button>
            <a href="./map.html">
                <i class="ti-map-alt"></i>
            </a>
        </div>

        <div class="footer-signup">
            <div class="title">
                <h2>ĐĂNG KÍ</h2>
                <a href="./signup.html">
                    <button class="signup-button"> ĐĂNG KÍ </button>
                </a>
            </div>
            <p>Nhận thông tin, khuyến mãi và
                <br>nhiều hơn nữa</p>
        </div>
    </div>

    <div class="footer-shop">
        <h4>CÁI SHOP NƯỚC HOA - SINCE 2024</h4>
    </div>
</div>

</body>


</html>