<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/fonts/themify-icons/themify-icons.css">
    <link rel="icon" href="/public/assets/img/perfume.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/assets/style/perfume1.css">
    <title>Dior Sauvage EDP</title>
</head>
<body>
<!-- HEADER -->
<div class="header" id="home">
    <!-- Thanh tìm kiếm -->
    <div class="header-search">
        <input class="search-input" type="text" placeholder="Tìm kiếm sản phẩm...">
        <i class="search-icon ti-search"></i>
    </div>

    <!-- Slogan -->
    <div class="header-slogan">
        <h1 class="first-slogan">
            Cái Shop nước hoa
        </h1>
        <h1 class="second-slogan">
            Bạn thích tôi mới bán
        </h1>
    </div>

    <!-- Welcome -->
    <div class="header-welcome">
        <div class="Hello">
            <h3>Xin chào, Khách</h3>
        </div>
        <div class="login">
            <a class="login-link" href="./index.html">Đăng nhập</a>
            <p>hoặc</p>
            <a class="login-link" href="./signup.html">Đăng ký</a>
        </div>
    </div>

    <!-- Cart -->
    <div class="header-cart">
        <i class="icon ti-shopping-cart"></i>
    </div>
</div>

<!-- STICKY BAR -->
<div class="stickybar">
    <li class="list home">
        <a class="link" href="./home.html">
            <p>TRANG CHỦ</p>
        </a>
    </li>

    <li class="list firm">
        <a class="link" href="">
            <p> THƯƠNG HIỆU <i class="ti-angle-down"></i> </p>
        </a>

        <ul class="nav">
            <li class="first"><a href="#"> AFNAN </a></li>
            <li><a href="#"> CAROLINA HERRERA </a></li>
            <li><a href="#"> DIOR </a></li>
            <li><a href="#"> JO MALONE </a></li>
            <li><a href="#"> MAISON MARGIELA </a></li>
            <li><a href="#"> ROJA DOVE </a></li>
            <li><a href="#"> TOM FORD </a></li>
            <li><a href="#"> ALREHAB </a></li>
            <li><a href="#"> LATTAFA </a></li>
            <li><a href="#"> DIESEL </a></li>
            <li><a href="#"> ATERLIER DES ORS </a></li>
            <li><a href="#"> LALIQUE </a></li>
            <li><a href="#"> TOMMY HILFIGER </a></li>
            <li><a href="#"> THE MERCHANT OF VENICE </a></li>
            <li><a href="#"> ORTO PARISI </a></li>
            <li><a href="#"> CHASING SCENTS </a></li>
            <li><a href="#"> MAISON MATINE </a></li>
            <li><a href="#"> GUERLAIN </a></li>
            <li><a href="#"> AMOUAGE </a></li>
            <li><a href="#"> CHANEL </a></li>
            <li><a href="#"> DIPTYQUE </a></li>
            <li><a href="#"> JEAN PAUL GAUTIER </a></li>
            <li><a href="#"> MARC JACOBS </a></li>
            <li><a href="#"> SAVATORE FERRAGAMO </a></li>
            <li><a href="#"> MONT BLANC </a></li>
            <li><a href="#"> ALFRED DUNHILL </a></li>
            <li><a href="#"> FLORIS </a></li>
            <li><a href="#"> ETAT LIBRE D'ORANGE </a></li>
            <li><a href="#"> CHLOÉ </a></li>
            <li><a href="#"> NAUTICA </a></li>
            <li><a href="#"> RALPH LAUREN </a></li>
            <li><a href="#"> BOND NO.9 </a></li>
            <li><a href="#"> MAD ET LEN </a></li>
            <li><a href="#"> MAURER & WIRTZ </a></li>
            <li><a href="#"> MARIE JEANNE </a></li>
            <li><a href="#"> GIARDINI DI TOSCANA </a></li>
            <li><a href="#"> ARMAF </a></li>
            <li><a href="#"> CALVIN KLEIN </a></li>
            <li><a href="#"> FREDERIC MALLE </a></li>
            <li><a href="#"> KILIAN </a></li>
            <li><a href="#"> MAISON FRANCIS KURKDJIAN </a></li>
            <li><a href="#"> VERSACE </a></li>
            <li><a href="#"> MOSCHINO </a></li>
            <li><a href="#"> XERJOFF </a></li>
            <li><a href="#"> PARFUMS DE MARLY </a></li>
            <li><a href="#"> NISHANE </a></li>
            <li><a href="#"> LOUIS VUITTON </a></li>
            <li><a href="#"> THOMAS KOSMALA </a></li>
            <li><a href="#"> JIMMY CHOO </a></li>
            <li><a href="#"> NACHO VIDAL </a></li>
            <li><a href="#"> ATTAR COLLECTION </a></li>
            <li><a href="#"> FLAVIA </a></li>
            <li><a href="#"> GHALA ZAYED </a></li>
            <li><a href="#"> INTINIO PARFUMS PRIVES </a></li>
            <li><a href="#"> BURBERRY </a></li>
            <li><a href="#"> CREED </a></li>
            <li><a href="#"> GIORGIO ARMANI </a></li>
            <li><a href="#"> LANCOME </a></li>
            <li><a href="#"> MONTALE </a></li>
            <li><a href="#"> YSL </a></li>
            <li><a href="#"> CLIVE CHRISTIAN </a></li>
            <li><a href="#"> DAVIDOFF </a></li>
            <li><a href="#"> MANCERA </a></li>
            <li><a href="#"> FRANCK BOCLET </a></li>
            <li><a href="#"> VICTORYA'S SECRET </a></li>
            <li><a href="#"> PENHALIGON'S </a></li>
            <li><a href="#"> JULIETTE HAS A GUN </a></li>
            <li><a href="#"> MISSONI </a></li>
            <li><a href="#"> THODOROS KALOTINIS </a></li>
            <li><a href="#"> ALEXANDRIA FRAGRANCES </a></li>
            <li><a href="#"> DSQUARED2 </a></li>
            <li><a href="#"> BYREDO </a></li>
            <li><a href="#"> BVLGARI </a></li>
            <li><a href="#"> DOLCE & GABBANA </a></li>
            <li><a href="#"> GUCCI </a></li>
            <li><a href="#"> LE LABO </a></li>
            <li><a href="#"> NARCISO RODRIGUEZ </a></li>
            <li><a href="#"> HERMES </a></li>
            <li><a href="#"> PACO RANBANNE </a></li>
            <li><a href="#"> SERGE LUTENS </a></li>
            <li><a href="#"> AL HARAMAIN </a></li>
            <li><a href="#"> KENZO </a></li>
            <li><a href="#"> NASOMATTO </a></li>
            <li><a href="#"> VICTOR & ROLF </a></li>
            <li><a href="#"> MCM </a></li>
            <li><a href="#"> BUTTERFLY THAI PERFUME </a></li>
            <li><a href="#"> VALENTINO </a></li>
            <li><a href="#"> MASQUE MILANO </a></li>
            <li class="last"><a href="#"> THIERRY MUGLER </a></li>
        </ul>
    </li>

    <li class="list intro">
        <a class="link" href="">
            <p>GIỚI THIỆU</p>
        </a>
    </li>

    <li class="list perfume">
        <a class="link" href="">
            <p>NƯỚC HOA <i class="ti-angle-down"></i></p>
        </a>

        <ul class="nav-perfume">
            <li><a href="#"> NƯỚC HOA NỮ </a></li>
            <li><a href="#"> NƯỚC HOA NAM </a></li>
            <li class="last-perfume"><a href="#"> NƯỚC HOA UNISEX </a></li>
        </ul>
    </li>

    <li class="list know">
        <a class="link" href="">
            <p>KIẾN THỨC</p>
        </a>
    </li>

    <li class="list blog">
        <a class="link" href="">
            <p>BLOG</p>
        </a>
    </li>

    <li class="list contact">
        <a class="link" href="">
            <p>LIÊN HỆ</p>
        </a>
    </li>
    <li class="list contact">
        <a class="link" href="/api/auth/gio-hang">
            <p>Giỏ hàng</p>
        </a>
    </li>
</div>

<!-- BREADCRUMB -->
<div class="breadcrumb">
    <a href="./home.html">Trang chủ</a> <p> > </p>
    <p class="perfume-name">Dior Sauvage EDP</p>
</div>

<!-- PRODUCTS -->
<div class="product-infor">
    <div class="image">
        <img src="/public/assets/img/perfume-image/versace pour homme.jpg" alt="">
    </div>
    <div class="infor">
        <div class="name">
            <h2>Dior Sauvage EDP</h2>
        </div>
        <div class="cost">
            <h2>370.000đ</h2>
        </div>
        <div class="des">
            <p>
                Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Et inventore ex nesciunt quia,
                neque repellat autem porro enim molestias
                cupiditate consequatur recusandae reprehenderit
                reiciendis dolorum deleniti adipisci illo aperiam
                sed... <a href="">Xem thêm</a>
            </p>
        </div>
        <div class="sex">
            <h5 class="title">Giới tính</h5>
            <p class="boder">NAM</p>
        </div>
        <div class="country">
            <h5 class="title">Xuất xứ</h5>
            <p class="boder">PHÁP</p>
        </div>
        <div>
            <h5 class="title">Dung tích</h5>
            <div class="capacity">
                <button class="boder">CHIẾT 10ML</button>
                <button class="boder">CHIẾT 20ML</button>
                <button class="boder">CHIẾT 30ML</button>
                <button class="boder">FULLBOX 100ML</button>
            </div>
        </div>
        <div class="quantity">
            <h5 class="title">Số lượng</h5>
            <input class="input" type="number">
            <i class="ti-comment-alt"></i>
        </div>
    </div>

    <div class="buy-button">
        <a id="buy-button" href=""><button class="button">MUA NGAY</button></a>
        <a id="addToCart"><button class="button">THÊM VÀO GIỎ HÀNG</button></a>
    </div>
</div>

<!-- GUARANTEE -->
<div class="guarantee">
    <div class="title">
        <h2>UY TÍN - CHẤT LƯỢNG - HỢP PHÁP</h2>
    </div>
    <div class="detail">
        <div class="all-detail">
            <h5 class="header-detail">
                <i class="icon ti-truck"></i>
                Giao hàng nhanh chóng
            </h5>
            <div class="paragh">
                <p>
                    <i class="ti-check"></i>
                    Giao hàng tận nơi toàn quốc;
                    giao nhanh trong vòng 24h khu vực
                    nội thành HCM
                </p>
                <p>
                    <i class="ti-check"></i>
                    Miễn phí giao hàng với sản phẩm
                    nước hoa fullbox
                </p>
            </div>
        </div>

        <div class="all-detail">
            <h5 class="header-detail">
                <i class="icon ti-check-box"></i>
                Bảo đảm chất lượng
            </h5>
            <div class="paragh">
                <p>
                    <i class="ti-check"></i>
                    Cam kết nước hoa chính hãng 100%
                </p>
                <p>
                    <i class="ti-check"></i>
                    Lói không với các sản phẩm nước hoa
                    kém chất lượng; nước hoa Auth 1:1 và
                    các sản phẩm tương tự khác
                </p>
            </div>
        </div>

        <div class="all-detail">
            <h5 class="header-detail">
                <i class="icon ti-headphone-alt"></i>
                Chăm sóc tốt
            </h5>
            <div class="paragh">
                <p>
                    <i class="ti-check"></i>
                    Hotline 24/7: 0399626478
                </p>
                <p>
                    <i class="ti-check"></i>
                    Chăm sóc khách hàng tận răng trước và
                    sau khi nhận hàng
                </p>
            </div>
        </div>

        <div class="all-detail">
            <h5 class="header-detail">
                <i class="icon ti-layers"></i>
                Đa dạng lựa chọn
            </h5>
            <div class="paragh">
                <p>
                    <i class="ti-check"></i>
                    Đa dạng sản phẩm thương hiệu yêu thích
                    tại Việt Nam
                </p>
                <p>
                    <i class="ti-check"></i>
                    Đa dạng dung tích: Nước hoa Fullbox;
                    nước hoa Chiết 10ml/20ml/30ml; Gốc nước
                    hoa
                </p>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="footer">
    <div class="footer-title-background">
        <h1>CÁI SHOP NƯỚC HOA</h1>
        <h1 class="last">BẠN THÍCH TÔI MỚI BÁN</h1>
    </div>

    <div>
        <a href="#home">
            <div class="footer-roll">
                <p>BACK TO TOP</p>
                <i class="ti-angle-up"></i>
            </div>
        </a>
    </div>

    <div class="footer-all">
        <div class="footer-pay">
            <div class="title">
                <h2>PHƯƠNG THỨC THANH TOÁN</h2>
            </div>
            <div class="img">
                <img src="/public/assets/img/trade1.jpg" alt="trade1">
                <img src="/public/assets/img/trade2.jpg" alt="">
                <img src="/public/assets/img/trade3.jpg" alt="">
                <img src="/public/assets/img/trade4.jpg" alt="">
            </div>
        </div>

        <div class="footer-connect">
            <div class="title">
                <h2>KẾT NỐI VỚI CHÚNG TÔI</h2>
            </div>
            <div class="icon">
                <a href=""><i class="ti-facebook"></i></a>
                <a href=""><i class="ti-instagram"></i></a>
                <a href=""><i class="ti-youtube"></i></a>
                <a href=""><i class="ti-google"></i></a>
            </div>
        </div>

        <div class="footer-contact">
            <div class="title">
                <h2>LIÊN HỆ</h2>
                <h4 class="contact-number">0399626478</h4>
            </div>
            <button class="contact-button"> LIÊN HỆ </button>
            <a href="./map.html">
                <i class="ti-map-alt"></i>
            </a>
        </div>

        <div class="footer-signup">
            <div class="title">
                <h2>ĐĂNG KÍ</h2>
                <a href="./signup.html">
                    <button class="signup-button"> ĐĂNG KÍ </button>
                </a>
            </div>
            <p>Nhận thông tin, khuyến mãi và
                <br>nhiều hơn nữa</p>
        </div>
    </div>

    <div class="footer-shop">
        <h4>CÁI SHOP NƯỚC HOA - SINCE 2024</h4>
    </div>
</div>
<script>
    const perfumeId = window.location.href[window.location.href.length-1];
    fetch("/api/auth/perfumes/" + perfumeId)
    .then(json => json.json())
    .then(data => {
        document.querySelector(".name").firstElementChild.textContent = data.name;
        document.querySelector(".cost").firstElementChild.textContent = data.price + "đ";
        document.querySelector(".des").firstElementChild.textContent = data.description +
        " Số lương tồn kho: " + data.quantity;
    })
     const buyBtn = document.getElementById("buy-button");
    buyBtn.href = "/checkouts/" + perfumeId;
    document.getElementById('addToCart').addEventListener('click',()=>{
    // Lấy dữ liệu giỏ hàng từ localStorage hoặc khởi tạo nếu chưa có
  let cart = JSON.parse(localStorage.getItem('cart')) || [];

  // Tìm xem sản phẩm đã có trong giỏ hàng chưa
  let product = cart.find(item => item.name === document.querySelector('.name').innerText);

  if (product) {
    // Nếu sản phẩm đã có, tăng số lượng
    product.quantity += 1;
  } else {
    // Nếu sản phẩm chưa có, thêm sản phẩm mới vào giỏ hàng
    cart.push({
    name: document.querySelector('.name').innerText,
    cost: document.querySelector('.cost').innerText,
    quantity: 1 });
  }

  // Lưu lại giỏ hàng vào localStorage
  localStorage.setItem('cart', JSON.stringify(cart));
  alert(`Đã thêm ${document.querySelector('.name').innerText} vào giỏ hàng!`);
})
    fetch('/api/auth/getUsername')
   .then(res => res.text())
    .then(data => {
       if(typeof data === "string" && data.length !== 0){
           document.querySelector('.Hello')
               .childNodes[1].innerText = 'Xin chào, ' + data;
           document.querySelector('.login').remove();
       }

   })
</script>
</body>
</html>